#---------------------------------
# Directories
#---------------------------------
**/node_modules/
**/target/
tmp/
**/test/
**/dist/


#---------------------------------
# Extensions
#---------------------------------
*.gz
*.log
*.rar
*.tar
*.zip
*.jpg
*.png


#---------------------------------
# IDE generated
#---------------------------------
.idea/
.project
*.iml


#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db
/server/public