.App {
  font-family: Roboto;
  padding:0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
}

.header {
  background-color: #ee3542;
}

.header .logo {
  display: block;
  height: 100px;
}

.view-title {
  border-top: 1px solid #fff;
  text-transform: uppercase;
  padding: 10px;
  font-size: 2em;
  text-align: center;
  background-color: #ee3542;
  color: #fff;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.items .item {
  overflow: hidden;
  border-radius: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  min-width: 300px;
  margin: 6px 0;
  padding: 6px;
  border: 1px solid #ccc;
}

.items .item.active {
  background-color: #ee3542;
  border: 1px solid #ee3542;
  color: #fff;
}

.items .item .order-number {
  font-weight: normal;
  font-size: .7em;
}