.App {
  text-align: center;
  font-family: Roboto;
}

::-webkit-scrollbar {
  width: 0;
}

.header {
  background-color: #ee3542;
}

.logo {
  display: block;
  height: 60px;
}

.view-title {
  text-transform: uppercase;
  background-color: #ee3542;
  color: #fff;
}

.sub-title {
  text-transform: uppercase;
  background-color: #ee3542;
  color: #fff;
  font-weight: 500;
  font-size: 3em;
}

.turns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.turn {
  margin: 0 30px;
}

.order-number {
  font-size: 4em;
  font-weight: bold;
  display: inline-block;
}

.icon {
  font-size: 2em;
  vertical-align: text-bottom;
}

.scanner {
  position: fixed;
  bottom: 0;
  width: 1px;
  height: 1px;
}
