.App {
  text-align: center;
  font-family: Roboto;
}

::-webkit-scrollbar {
  width: 0;
}

.header {
  background-color: #ee3542;
}

.logo {
  display: block;
  height: 100px;
}

.scanner-form {
  margin-top: 30px;
}

.scanner-form input {
  font-size: 3em;
  text-align: center;
}

.view-title {
  text-transform: uppercase;
  width: 100%;
  padding: 10px;
  background-color: #ee3542;
  color: #fff;
}
